/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.45;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* -- Dark Mode -- */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1b1b;
    color: #eee;
  }
}
/* -- App Layout -- */
.wrapper {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 600px;
}

.restart {
  position: absolute;
  right: 20px;
  top: 20px;
}

.dice-roller {
  margin-bottom: 3rem;
  text-align: center;
}

/* -- Generic Buttons -- */
button, .button {
  all: unset;
  padding: 0.5em 1em;
  border: 1px solid #bfc2c7;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #ebedf0;
  color: #19191b;
}
button:not(:disabled):hover, button:not(:disabled):focus, .button:not(:disabled):hover, .button:not(:disabled):focus {
  border-color: #939599;
}
button:disabled, .button:disabled {
  opacity: 0.5;
}
@media (prefers-color-scheme: dark) {
  button, .button {
    border-color: #686a6d;
    background-color: #4e4a4a;
    color: #eee;
  }
  button:not(:disabled):hover, button:not(:disabled):focus, .button:not(:disabled):hover, .button:not(:disabled):focus {
    border-color: #bcbfc5;
  }
}

/* -- Dice Roller -- */
.dice-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.die-item {
  display: block;
  position: relative;
  margin: 0 1em;
  width: calc(20% - 40px);
  padding-bottom: calc(20% - 40px);
  height: 0;
}
.die-item.disabled {
  opacity: 0.5;
}

.die-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.rolling-all .die-wrap .die-face {
  -webkit-animation: rolling 0.5s infinite linear;
          animation: rolling 0.5s infinite linear;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}
.rolling-all .die-wrap svg {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .die-face svg rect {
    fill: #c23333;
  }
}

.reroll svg {
  opacity: 0.5;
}
.reroll:before {
  content: "Re-roll";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -0.75em);
  font-size: 12px;
}
.rolling .reroll .die-face {
  -webkit-animation: rolling 0.5s infinite linear;
          animation: rolling 0.5s infinite linear;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}
.rolling .reroll svg {
  opacity: 1;
}

.die-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* .die-face {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 1em;
    text-align: center;
} */
.die-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.die-face svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.roll-button {
  position: relative;
  transform: translateY(-2px);
  min-width: 120px;
  border-color: #107bc2;
  box-shadow: 0 2px 0 #0d649e;
  font-weight: bold;
  background-color: #0f90e6;
  color: #fff;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.roll-button:not(:disabled):hover, .roll-button:not(:disabled):focus {
  border-color: #128ada;
  box-shadow: 0 2px 0 #0f73b6;
  background-color: #1e9cf0;
}
.roll-button:not(:disabled):active {
  transform: translateY(0);
  box-shadow: none;
}

.rolls-left {
  margin-top: 1em;
  font-size: 14px;
}

@-webkit-keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -- Scorecard -- */
.scorecard {
  font-size: 16px;
  line-height: 1.45em;
}

.scorecard-tables {
  display: flex;
  justify-content: space-between;
}
.scorecard-tables table {
  width: calc(50% - 15px);
}
.scorecard-tables tr {
  border-bottom: 1px solid #eee;
}
.scorecard-tables td {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (prefers-color-scheme: dark) {
  .scorecard-tables tr {
    border-bottom-color: #3b3838;
  }
}

.score-name-cell {
  vertical-align: middle;
}

.score-cell {
  text-align: right;
}

.bonus-cell {
  width: 50%;
}

.score-button {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  text-align: right;
}

.score-label {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  text-align: right;
}